<footer class="text-muted py-5 bg-dark">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#" class="text-light">Back to top</a>
    </p>
    <p class="mb-1">This blog website was made to learn Ruby on Rails framework.</p>
    <p class="mb-0">New to Ruby on Rails? <a href="https://rubyonrails.org/" target="_blank" class="text-light">Visit the homepage</a> or
      read our <a href="https://guides.rubyonrails.org/getting_started.html" target="_blank" class="text-light">getting started guide</a>.
    </p>
  </div>
</footer>
